@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --card: 74 56% 97%;
    --ring: 74 53% 85%;
    --input: 220 13% 91%;
    --muted: 44 34% 85%;
    --accent: 104 53% 85%;
    --border: 220 13% 91%;
    --popover: 74 56% 97%;
    --primary: 74 53% 85%;
    --secondary: 44 53% 85%;
    --background: 74 56% 98%;
    --foreground: 74 56% 3%;
    --destructive: 2 81% 25%;
    --card-foreground: 74 56% 2%;
    --muted-foreground: 44 8% 34%;
    --accent-foreground: 104 53% 5%;
    --popover-foreground: 74 56% 2%;
    --primary-foreground: 74 53% 5%;
    --secondary-foreground: 44 53% 25%;
    --destructive-foreground: 2 81% 85%;
    --radius: 0.5rem;
  }

  .dark {
    --card: 74 31% 2%;
    --ring: 74 53% 85%;
    --input: 215 27.9% 16.9%;
    --muted: 44 34% 15%;
    --accent: 104 53% 85%;
    --border: 215 27.9% 16.9%;
    --popover: 74 31% 2%;
    --primary: 74 53% 85%;
    --secondary: 44 53% 85%;
    --background: 74 31% 1%;
    --foreground: 74 38% 98%;
    --destructive: 2 81% 57%;
    --card-foreground: 74 38% 99%;
    --muted-foreground: 44 8% 66%;
    --accent-foreground: 104 53% 5%;
    --popover-foreground: 74 38% 99%;
    --primary-foreground: 74 53% 5%;
    --secondary-foreground: 44 53% 25%;
    --destructive-foreground: 0 0% 100%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
